.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 13px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #581010;
}
.home-text {
  top: 13px;
  left: -10px;
  color: #f16432;
  width: 592px;
  height: 117px;
  position: absolute;
  text-align: center;
}
.home-button {
  top: 195px;
  color: var(--dl-color-gray-white);
  right: 78px;
  width: 167px;
  height: 44px;
  margin: auto;
  position: absolute;
  font-size: 19px;
  text-align: center;
  padding-right: 5px;
  background-color: #ff0000;
}
.home-text01 {
  top: 58px;
  color: #f16432;
  right: 66px;
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-large);
  margin: auto;
  position: absolute;
  font-size: 23px;
  text-align: center;
}
.home-text04 {
  top: 277px;
  color: #f16432;
  right: 65px;
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xxlarge);
  margin: auto;
  position: absolute;
  font-size: 16px;
  text-align: center;
}
.home-text33 {
  top: 244px;
  color: #f16432;
  right: 97px;
  width: auto;
  height: var(--dl-size-size-xsmall);
  margin: auto;
  position: absolute;
  font-size: 27px;
  text-align: center;
}
.home-text36 {
  text-align: justify;
}
.home-text37 {
  color: #f16432;
  right: 28px;
  width: 352px;
  bottom: 15px;
  height: 65px;
  position: absolute;
  font-size: 1.2em;
  text-align: center;
  text-transform: capitalize;
}
